<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- if page.styles -%}
    {%- for href in page.styles -%}
      {%- if href contains "://" -%}
  <link rel="stylesheet" href="{{ href }}">
      {%- else -%}
  <link rel="stylesheet" href="{{ href | relative_url }}">
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if page.scripts -%}
    {%- for src in page.scripts -%}
      {%- if src contains "://" -%}
  <script src="{{ src }}"></script>
      {%- else -%}
  <script src="{{ src | relative_url }}"></script>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  <link rel="shortcut icon" href="/favicon_solid.png">
  {%- if page.layout == "home" -%}
  <title>{{ site.title | escape }}</title>
  {%- else -%}
  <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
  {%- endif -%}
</head>
