---
layout: default
---
{%- assign href_levels = page.href_levels | default: "h2" -%}
{%- assign sidebar_hidden = page.sidebar_hidden | default: false -%}
{%- assign sidebar_levels = page.sidebar_levels | default: "h2,h3" -%}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody" data-href-levels="{{ href_levels }}">
    {%- unless sidebar_hidden -%}
    <aside id="post-sidebar" data-sidebar-levels="{{ sidebar_levels }}">
      <div class="sidebar-inner"></div>
    </aside>
    {%- endunless -%}
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script type="module" src="/assets/post.js"></script>
